#### 텍스트 파일을 열어 각 Line 별로 읽어들인 후, 문자열 메소드를 이용하여 Parsing

- Pandas DataFrame을 만들자.

In [1]:
import pandas as pd
import os

In [9]:
#set file path

cwd = os.getcwd()

file_path = os.path.join(cwd,'/home/key2317/color_range.txt')
#C:\Users\user\Jupyter_project

In [29]:
# read 'color_range.txt'file and parsing it by id and value

df = pd.DataFrame()

In [30]:
#open file
f = open(file_path)
f

In [34]:
#parsing text line by line using for loop statement

for line in f.readlines():
    #proxy=int(0)
    #print(line)
    #proxy+=1
    id_list=[]
    color_list=[]
    bin_list=[]
    
    #remove white space
    
    line = line.strip()
    
    #delete '""'
    line = line.replace('"','')
    
    #get ID and Value from a line
    id = line[:3]
    val = line[4:]
    
    #make a separator with comma(',')
    val = val.replace(' a',',a')
    val = val.replace(' b',',b')
    
    
    #split a line using separator'.'
    val_split = val.split(sep=',')
    
    #get a 'ID','COLOR','BIN_END' values and append it to list
    for j in range(len(val_split)):
        id_list.append(id)
        color_list.append(val_split[j][:1])
        bin_list.append(val_split[j][2:])
    
    #make a temp DataFrame, having ID, COLOR, BIN_END values per each line
    #note : if a line has only one value(ie. Scalar), then it will erase 'index error'
    
    df_tmp = pd.DataFrame({'id':id_list,
                          'color_cd':color_list,
                          'bin_end':bin_list}
                         )
    
    #combine df and df_tmp one by one
    color_df = pd.concat([color_df,df_tmp],axis=0, ignore_index=True)

In [35]:
color_df

     id color_cd bin_end
0   "AA
1   "AA        a     100
2   "AA        b     200
3   "AA        a     300
4   "AA        b    400"
5   "BB
6   "BB        a     250
7   "BB        b     350
8   "BB        a     450
9   "BB        b     550
10  "BB        a     650
11  "BB        b     750
12  "BB        a     800
13  "BB        b    910"

In [2]:
import pandas as pd

a = pd.DataFrame()
a

Empty DataFrame
Columns: []
Index: []

In [3]:
import tensorflow as tf

from tensorflow import keras

2021-10-17 18:06:41.664309: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-10-17 18:06:41.664348: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.